body{
    /* height: 100vh;
    width: 100%; */
    background-image: url(sky1.jpg);
    margin: 0 auto;
}
 .sky{
height: 100vh;
width: 100%;
display: flex;
background-size: cover;
background-position: center;
position: relative;
overflow-x: hidden;


} 
.highway{
    height: 200px;
    width: 500%;
    background-image: url(road.jpg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    animation: highway 1s linear infinite;

}
@keyframes highway{
    100%{
        transform: translateX(-3400px);
    }
    
}
.city{
    height: 250px;
    width: 500%; 
    background-image: url(city.png);
    position: absolute;
    /* display: block; */
    bottom: 200px;
    left: 0;
    right: 0;
    z-index: 1;
    animation: highway 20s linear infinite;
}
@keyframes highway{
    100%{
        transform: translateX(-1400px);
    }
}
.car{
    width: 400px; 
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 100px;
    z-index: 2;
}
.car img{
    width: 100%;
    animation: car 1s linear infinite;

}
@keyframes car{
    100%{
        transform: translatey(-2px);
    }
    50%{
        transform: translatey(2px);
    }
    0%{
        transform: translatey(-2px);
    }
}
.wheel{
    left: 50%;
    bottom: 178px;
    transform: translateX(-50%);
    position: absolute;
     z-index: 2;
}
.wheel img{
    width: 72px;
    height: 72px;
    animation: wheel .4s linear infinite;
}
.back-wheel{
    left: -165px;
    position: absolute;
}
.front-wheel{
    left: 80px;
    position: absolute;
}
@keyframes wheel{
   100%{ transform: rotate(360deg)
   }
}
#text{
    font-family: 'Silkscreen', cursive;
    font-size: 350px;
    color: white;
    margin-left: 12%;
    opacity: 0%;
    animation: visi 1s linear infinite alternate ;
    transition: opacity 1s ;
}
@keyframes visi{
    /* 0%{
        opacity: 0%;
    } 
    50%{
        opacity: 50%;
    }  */
    100%{
        opacity: 100%;
    }
}
#bird img{
    float: left;
   display: flex;
   margin: 0 auto;
    height:50vh;
    width: 500px;
    animation: bird 10s linear infinite;
   
}
@keyframes bird{
    100%{
        transform: translateX(-1800px);
    }
   
}